.cover {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.cover .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.cover .overlap {
  position: absolute;
  width: 1440px;
  height: 537px;
  top: 0;
  left: 0;
}

.cover .overlap-group {
  position: absolute;
  width: 779px;
  height: 217px;
  top: 137px;
  left: 323px;
  background-color: #69b0ea;
  border-radius: 108.5px;
}

.cover .text-wrapper {
  position: absolute;
  top: 30px;
  left: 199px;
  text-shadow: 0px 20px 10px #1d6fd4;
  font-family: "Indie Flower-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 128px;
  letter-spacing: 0;
  line-height: normal;
}

.cover .overlap-2 {
  position: absolute;
  width: 481px;
  height: 537px;
  top: 0;
  left: 0;
}

.cover .rectangle {
  position: absolute;
  width: 403px;
  height: 45px;
  top: 388px;
  left: 65px;
  background-color: #baddff;
  border-radius: 22.5px;
}

.cover .star {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 37px;
  left: 123px;
}

.cover .img {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 411px;
  left: 355px;
}

.cover .star-2 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 412px;
  left: 155px;
}

.cover .star-3 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 412px;
  left: 255px;
}

.cover .star-4 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 412px;
  left: 55px;
}

.cover .star-5 {
  position: absolute;
  width: 233px;
  height: 404px;
  top: 0;
  left: 0;
}

.cover .overlap-3 {
  position: absolute;
  width: 513px;
  height: 537px;
  top: 0;
  left: 927px;
}

.cover .rectangle-2 {
  position: absolute;
  width: 408px;
  height: 45px;
  top: 388px;
  left: 5px;
  background-color: #add0ff;
  border-radius: 22.5px;
}

.cover .star-6 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 412px;
  left: 0;
}

.cover .star-7 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 412px;
  left: 100px;
}

.cover .star-8 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 412px;
  left: 200px;
}

.cover .star-9 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 412px;
  left: 300px;
}

.cover .star-10 {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 37px;
  left: 291px;
}

.cover .star-11 {
  position: absolute;
  width: 205px;
  height: 404px;
  top: 0;
  left: 308px;
}

.cover .text-wrapper-2 {
  position: absolute;
  top: 930px;
  left: 89px;
  font-family: "Indie Flower-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.cover .join-SWIFT-wrapper {
  position: absolute;
  width: 533px;
  height: 170px;
  top: 699px;
  left: 435px;
  background-image: url(./img/ellipse-1.svg);
  background-size: 100% 100%;
}

.cover .join-SWIFT {
  position: absolute;
  top: 8px;
  left: 77px;
  font-family: "Indie Flower-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.cover .span {
  color: #000000;
}

.cover .text-wrapper-3 {
  color: #3bace5;
  font-size: 96px;
}

.cover .text-wrapper-4 {
  position: absolute;
  width: 273px;
  top: 638px;
  left: 1126px;
  font-family: "Indie Flower-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.cover .star-12 {
  position: absolute;
  width: 68px;
  height: 57px;
  top: 946px;
  left: 9px;
}

.cover .p {
  position: absolute;
  top: 545px;
  left: 118px;
  font-family: "Indie Flower-Regular", Helvetica;
  font-weight: 400;
  color: #1d6fd4;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.cover .overlap-4 {
  position: absolute;
  width: 462px;
  height: 319px;
  top: 698px;
  left: 968px;
}

.cover .overlap-5 {
  position: absolute;
  width: 419px;
  height: 319px;
  top: 0;
  left: 43px;
}

.cover .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Indie Flower-Regular", Helvetica;
  font-weight: 400;
  color: #69b0ea;
  font-size: 62px;
  letter-spacing: 0;
  line-height: normal;
}

.cover .screenshot {
  position: absolute;
  width: 370px;
  height: 239px;
  top: 80px;
  left: 34px;
  object-fit: cover;
}

.cover .screenshot-2 {
  position: absolute;
  width: 66px;
  height: 101px;
  top: 174px;
  left: 0;
  object-fit: cover;
}

.cover .overlap-group-2 {
  position: absolute;
  width: 401px;
  height: 79px;
  top: 846px;
  left: 10px;
}

.cover .rectangle-3 {
  position: absolute;
  width: 401px;
  height: 73px;
  top: 0;
  left: 0;
  background-color: #add0ff;
  border-radius: 36.5px;
}

.cover .text-wrapper-6 {
  position: absolute;
  top: 9px;
  left: 55px;
  font-family: "Indie Flower-Regular", Helvetica;
  font-weight: 400;
  color: #1d6fd4;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}
